<section id="business">
    <article class="articles" id="image-container">
        <img id="computer" src="../../../../assets/images/about-banner.png" alt="about us">
    </article>
    <article class="articles" id="text-container">
        <h2>{{"what-is-ibercoin" | translate}}</h2>
        <p>{{"what-is-description" | translate}}</p>
        <div class="title-verified">
            <img class="verified" src="../../../../assets/images/verified.png" alt="verified logo">
            <h3>{{"real-time" | translate}}</h3>
        </div>
        <p>{{"real-time-description" | translate}}</p>
        <div class="title-verified">
            <img class="verified" src="../../../../assets/images/verified.png" alt="verified logo">
            <h3>{{"buy-and-sell" | translate}}</h3>
        </div>
        <p>{{"buy-and-sell-description" | translate}}</p>
        <button id="btn">{{"explore-more" | translate}}</button>
    </article>
</section>