<header id="header">
    <div class="header-parts">
        <div id="titles">
            <h1 id="buy-sell">{{"buy-sell" | translate}}</h1>
            <p id="easier">{{"easiest" | translate}}</p>
            <button id="btn">{{"get-started-now" | translate}}</button>
        </div>
    </div>
    <div class="header-parts">
        <!-- <img src="../../../../assets/images/hero-banner.png" alt="crypto img"> -->
        <video id="video" src="../../../../assets/videos/video-demo.mp4" autoplay loop muted playsinline></video>
    </div>
</header>