<footer id="footer">
    <div id="brand-links-container">
        <section class="brand-links-sections" id="info-brand-container">
            <article id="brand-container">
                <img id="logo" src="../../../../assets/images/ibercoin.png" alt="ibercoin logo">
                <h2 id="title">Ibercoin</h2>
            </article>
            <article id="info-container">
                <h3>Contact Information 🤙</h3>
                <ul>
                    <li><a href="tel:+34666666666">+34 666234567</a></li>
                    <li><a href="mailto:developer@daniel-espanadero.com">developer@daniel-espanadero.com</a></li>
                    <li>Pl. de Catalunya, 1, 08002 Barcelona</li>
                </ul>
            </article>
        </section>
        <section class="brand-links-sections" id="links-container">
            <article class="links-section" *ngFor="let section of sections">
                <h4>{{ section.title | translate }}</h4>
                <a *ngFor="let link of section.links" href="{{ link.url }}" target="_blank">{{ link.text | translate}}</a>
            </article>
        </section>
    </div>
    <section id="author">
        <p>{{"developed" | translate}} <a href="https://daniel-espanadero.com/" target="_BLANK">Daniel Españadero</a>
            &copy; {{getCurrentYear()}}</p>
    </section>
</footer>