<footer id="footer">
    <div id="brand-links-container">
        <section id="info-container">
            <article id="brand-container">
                <img id="logo" src="../../../../assets/images/ibercoin.png" alt="ibercoin logo">
                <h2 id="title">Ibercoin</h2>
            </article>
            <article id="">
                <h3>Let's talk! 🤙</h3>
                <a href="tel:+34666666666">+34 666666666</a>
                <a href="mailto:developer@daniel-espanadero.com">developer@daniel-espanadero.com</a>
                <p>Pl. de Catalunya, 1, 08002 Barcelona</p>
            </article>
        </section>
        <section>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </section>
    </div>
    <section id="author">
        <p>{{"developed" | translate}} <a href="https://daniel-espanadero.com/" target="_BLANK">Daniel Españadero</a>
            &copy; {{getCurrentYear()}}</p>
    </section>
</footer>