<nav id="nav">
    <div id="nav-left">
        <img id="logo" src="../../../../assets/images/ibercoin.png" alt="ibercoin logo">
        <h1 id="title">Ibercoin</h1>
        <ul id="links-container">
            <li><a routerLink="home">{{"homepage" | translate}}</a></li>
            <li>{{"market" | translate}}</li>
            <li>{{"buy-crypto" | translate}}</li>
            <li>{{"sell-crypto" | translate}}</li>
            <li><a routerLink="/learn">{{"learn" | translate}}</a></li>
            <li>BTC/USDT</li>
        </ul>
    </div>
    <div id="nav-right">

        <div class="language-selector">
            <label id="lang-label" for="language">{{ 'select-language' | translate }}</label>
            <select class="button" id="language" [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
                <option *ngFor="let language of languages" [value]="language.code">{{ language.name }}</option>
            </select>
        </div>
        <button class="button">{{"wallet" | translate}}</button>
    </div>
</nav>