<nav>
    <div>
        <img src="../../../../assets/images/ibercoin.png" alt="ibercoin logo">
        <ul>
            <li>Homepage</li>
            <li>Market</li>
            <li>Buy Crypto</li>
            <li>Sell Crypto</li>
            <li>Learn</li>
            <li>BTC/USDT</li>
        </ul>
    </div>
    <div>
        <button>Waller</button>
        <div class="language-selector">
            <label for="language">Select Language:</label>
            <select id="language" [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
                <option *ngFor="let language of languages" [value]="language.code">{{ language.name }}</option>
            </select>
        </div>

    </div>