<section id="instructions">
<article>
    <h2>{{"how-it-work" | translate}}</h2>
    <p>{{"description0" | translate}}</p>
</article>
<article>
    <div>
        <img src="../../../../assets/images/instruction-1.png" alt="instruction 1">
    </div>
    <div><img src="../../../../assets/images/connect-line.png" alt="connect line"></div>
    <div><img src="../../../../assets/images/instruction-2.png" alt="instruction 2"></div>
    <div><img src="../../../../assets/images/connect-line.png" alt="connect line"></div>
    <div><img src="../../../../assets/images/instruction-3.png" alt="instruction 3"></div>
    <div><img src="../../../../assets/images/connect-line.png" alt="connect line"></div>
    <div><img src="../../../../assets/images/instruction-4.png" alt="instruction 4"></div>
</article>
</section>