<section id="instructions">
    <article id="title">
        <h2>{{"how-it-work" | translate}}</h2>
        <p class="descriptions">{{"description0" | translate}}</p>
    </article>
    <article id="steps">
        <div class="steps">
            <img class="instructions" src="../../../../assets/images/instruction-1.png" alt="instruction 1">
            <p class="steps-number">{{"step" | translate}} 1</p>
            <h4 class="steps-title">{{"download" | translate}}</h4>
            <p class="descriptions">{{"description1" | translate}}</p>
        </div>
        <div class="connect"><img class="connect-img" src="../../../../assets/images/connect-line.png" alt="connect line"></div>
        <div class="steps">
            <img class="instructions" src="../../../../assets/images/instruction-2.png" alt="instruction 2">
            <p class="steps-number">{{"step" | translate}} 2</p>
            <h4 class="steps-title">{{"connect-wallet" | translate}}</h4>
            <p class="descriptions">{{"description2" | translate}}</p>
        </div>
        <div class="connect"><img class="connect-img" src="../../../../assets/images/connect-line.png" alt="connect line"></div>
        <div class="steps">
            <img class="instructions" src="../../../../assets/images/instruction-3.png" alt="instruction 3">
            <p class="steps-number">{{"step" | translate}} 3</p>
            <h4 class="steps-title">{{"start-trading" | translate}}</h4>
            <p class="descriptions">{{"description3" | translate}}</p>
        </div>
        <div class="connect"><img class="connect-img" src="../../../../assets/images/connect-line.png" alt="connect line"></div>
        <div class="steps">
            <img class="instructions" src="../../../../assets/images/instruction-4.png" alt="instruction 4">
            <p class="steps-number">{{"step" | translate}} 4</p>
            <h4 class="steps-title">{{"earn-money" | translate}}</h4>
            <p class="descriptions">{{"description4" | translate}}</p>
        </div>
    </article>
</section>