<section id="instructions">
    <article>
        <h2>{{"how-it-work" | translate}}</h2>
        <p>{{"description0" | translate}}</p>
    </article>
    <article>
        <div>
            <img src="../../../../assets/images/instruction-1.png" alt="instruction 1">
            <p>{{"step" | translate}} 1</p>
            <h4>{{"download" | translate}}</h4>
            <p>{{"description1" | translate}}</p>
        </div>
        <div><img src="../../../../assets/images/connect-line.png" alt="connect line"></div>
        <div>
            <img src="../../../../assets/images/instruction-2.png" alt="instruction 2">
            <p>{{"step" | translate}} 2</p>
            <h4>{{"connect-wallet" | translate}}</h4>
            <p>{{"description2" | translate}}</p>
        </div>
        <div><img src="../../../../assets/images/connect-line.png" alt="connect line"></div>
        <div>
            <img src="../../../../assets/images/instruction-3.png" alt="instruction 3">
            <p>{{"step" | translate}} 3</p>
            <h4>{{"start-trading" | translate}}</h4>
            <p>{{"description3" | translate}}</p>
        </div>
        <div><img src="../../../../assets/images/connect-line.png" alt="connect line"></div>
        <div>
            <img src="../../../../assets/images/instruction-4.png" alt="instruction 4">
            <p>{{"step" | translate}} 4</p>
            <h4>{{"earn-money" | translate}}</h4>
            <p>{{"description4" | translate}}</p>
        </div>
    </article>
</section>