@font-face {
    font-family: "anton";
    src: url("./assets/fonts/Anton-Regular.ttf");
}

@font-face {
    font-family: "rem";
    src: url("./assets/fonts/REM-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    font-family: 'rem', Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    }

    /* Scrollbar decoration */

body::-webkit-scrollbar {
	width:7px;
    background-color:#000;
}
body::-webkit-scrollbar-thumb {
	background: #FFBF38;
	border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
	background: #9c7520;
}